* {
  scrollbar-color: #202324 #454a4d;
}

.List {
  padding: 0;
  position: relative;
  max-height: calc(100vh - 45px - 75px);
  height: calc(100vh - 45px - 75px);

  width: 430px;
  height: calc(100vh - 75px);
  background-color: #181a1b;
  border-right: 1px solid #eeeeef24;
  text-align: left;
}

header {
  margin: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(24, 26, 27);
  border-bottom: 1px solid #eeeeef24;
}

ul {
  margin: 0;
  padding: 20px;
  text-align: left;
  overflow-y: scroll;
}

.view-button {
  background-color: transparent;
  border: none;
  color: #e8e6e3;
  cursor: pointer;

  font-family: Proxima Nova W01,Avenir Next W01,Avenir Next,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1.875;
}

svg {
  font-size: 25px;
}

.control-button {
  max-width: 25px;
  height: 25px;
  margin: 10px;
  padding: 0;
  background-color: transparent;
  border-color: initial;
  border: none;
  color: #e8e6e3;
  cursor: pointer;

  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  align-items: flex-start;
}

